/*''''
 * Created with IntelliJ Pycharm.
 * Description:
 * Author <a href="mailto:3245554@qq.com">罗卫</a>
 * User: devops
 * Date: 2019-06-03
 * Time: 下午2:01
'''*/
body {
    font-size: xx-large; width: 100%; height: auto;
}

.input-xxlarge {
    width: 500px; height: 45px; font-size: xx-large;
    vertical-align: middle;
}

.bottom {
    width:80px; height:50px;
    font-size: x-large; background-color: darkseagreen;
    margin: 0px 0px 90px -10px;
}

.input_div {
    width: 1000px; margin: auto; margin-top: 180px; text-align: center;
}

.content {
    text-align: left; margin-top: 60px;
    width: 100%; font-size: 14px;
}

.validationres {
    width: 1000px; margin: auto;
    text-align: left; margin-top: 30px;
    font-size: 14px; z-index: 10;
}

#letf_form {
    width: 20%; height: 900px; text-align: left;
    position: fixed; overflow-x: hidden;
}

#right_form {
    width: 78.5%; height: 900px; margin: 0px 0px 0px 20.5%;
    position: fixed; z-index: 1;
}

.footer {
    text-align: center; position: fixed; width: 100%; top: 925px;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    font-size: 14px;
}

#letf_form_div {
    text-align: left; font-size: 14px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

#loading_1 {
    width: 100%; height: 100%; position: absolute;
    top: 0px; left: 0px; text-align: center; z-index: 999; visibility: hidden;
    background-color: white; opacity: 0.6;
}

#loading {
    width: 100%; height: 100%; position: absolute;
    top: 0px; left: 0px;
    text-align: center; z-index: 999; visibility: hidden;
    background-color: white; opacity: 0.6;
}

#loading img {
    margin-top: 25%
}
#loading_1 img {
    margin-top: 25%
}

.account_info_tables {
    list-style: none; text-align: left; border-collapse: collapse;
    width: 97%; height: auto;
}

.account_info_tables td {
     border: solid lightgrey 1px; border-collapse: collapse;
}

.login_body_content {
    border: solid 1px darkseagreen; margin-top: 20%; margin-left: 35.5%;
    width: 350px; height: 195px;  border-radius: 8px;
}

.login_h {
    width: 300px; margin: auto; margin-top: -25px; margin-left: 26px;
    padding-bottom: 10px; background-color: white; text-align: center;
    color: darkseagreen;
}

.login_body {
    width: 100% ; height: auto; font-size: 16px;
}

.login_div {
    width: 300px; height: 170px; margin: auto; margin-left: 75px; margin-top: 20px; border: solid 1px lightgrey;
    border-radius: 8px; background-color: darkseagreen;
    display: block;
}

.login_content {
    margin: 25px;
}

.froget_a {
    position: relative; top: 5px; left: 110px; font-size: 10px;
}

.login_button {
    margin: -30px 0px 0px 170px; background-color: lightgrey; border-radius: 4px; width: 26%;
    height: 30%; vertical-align: middle;
}

.menu ul li {
    font-family: "Times New Roman"; font-size: 18px; font-weight: revert;
    list-style: none; height: 60px; background-color: darkseagreen;
    text-align: center; line-height: 60px; margin-left: -60px;
    border: 1px cadetblue solid; margin-top: 5px; cursor: pointer;
}

.menu ul li:hover {
    font-family: "Times New Roman"; font-size: 16px; font-weight: unset; cursor: pointer;
    list-style: none; height: 55px; background-color: lightgreen; margin-top: 5px;
    text-align: center; line-height: 55px; margin-left: -60px; border: darkgrey 1.5px solid;
}

.menu ul li:active {
    font-family: "Times New Roman"; font-size: 18px; font-weight: revert;
    list-style: none; height: 60px; background-color: darkseagreen;
    text-align: center; line-height: 60px; margin-left: -60px;
    border: 1px cadetblue solid; margin-top: 5px; color: white;
    cursor: pointer;
}

.herder {
    float: right; position: absolute; font-size: 14px;
    top: 15px; right: -135px; z-index: 10001; width: 300px;
}

.admin_user_hide_pane {
    visibility: hidden; background-color: darkseagreen; border-radius: 2px;
    position: absolute; top: 45px; right: 45px; z-index: 10002;
    width: 130px; height: 85px; line-height: revert; text-align: center;
}

.ordinary_user_hide_pane {
    visibility: hidden; background-color: darkseagreen; border-radius: 2px;
    position: absolute; top: 40px; right: 45px; z-index: 10002;
    width: 130px; height: 20px; line-height: revert; text-align: center;
}

.user_manerge_menu li:hover {
    font-family: "Times New Roman"; font-size: 12px; font-weight: revert;
    list-style: none; height: 20px; background-color: darkseagreen;
    border: 1px cadetblue solid; color: white; cursor: pointer; border-radius: 2px;
}

.user_manerge_menu li:active {
    font-family: "Times New Roman"; font-size: 13px; font-weight: unset; cursor: pointer;
    list-style: none; height: 20px; background-color: #009E94;
    border: darkgrey 1.5px solid; border-radius: 2px;
}

.admin_node_main {
    width: 1000px; margin-top: 15%; margin: auto; font-size: 12px;
}

.form_table {
    width:1000px; margin: auto; margin-top: 100px; border-bottom: darkgrey 1px solid;
}

.form_tr {
    background-color:darkseagreen; text-align: center;
}

.form_table tr td {
    border-bottom: darkgrey 1px solid; font-size: 14px;
}

.add_user_box {
    border-radius: 8px; margin: auto; margin-top: 10%; width: 180px; height: 240px;
    font-size: 14px;
}

.but_bottom {
    margin-left: 140px;
}

#login_user_name{
    color: blue; text-overflow:ellipsis; width: 10px; font-size: 16px;

}
