<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/js/js.js" rel="script"></script>
    <link rel="stylesheet" href="static/css/css.css">
</head>
<body style="overflow-x: hidden;">
    <div id="letf_form_div">

    </div>
    <div class="server_info">
        {{ server_info }}
    </div>
    <div class="menu">
        <ul>
            <li name="right_form" onclick="winform_new()">新增防封站点域名</li>
            <li name="right_form" onclick="winform_update()">修改防封站点域名</li>
        </ul>
    </div>
</body>
</html>