<!--
'''
 * Created with IntelliJ Pycharm.
 * Description: 
 * Author <a href="mailto:3245554@qq.com">罗卫</a>
 * User: devops
 * Date: 2019-06-20
 * Time: 下午3:58
'''
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/css.css">
    <script src="static/js/jquery-3.4.1.min.js" rel="script"></script>
    <script src="static/js/jquery.md5.js" rel="script"></script>
    <script rel="script" src="static/js/js.js"></script>
</head>
<body>
    <div class="admin_node_main">
        <div class="add_user_box">
            <p>用户名</p>
            <input id="add_user_name" type="text">
            <p>密码</p>
            <input id="add_user_passwd_neo" TYPE="password">
            <p>验证密码</p>
            <input id="add_user_passwd_tow" type="password">
            <p>渠道ID</p>
            <select id="add_user_channle">
                <option value="请选择渠道ID" selected = "selected">——请选择渠道ID——</option>
                {% for i in sys %}
                    {% for j in i %}
                    <option value= '"'+{{ i[j] }}+'"'>{{ i[j] }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
            <br>
            <br>
            <input class="but_bottom" type="button" value="添加" onclick="add_new_user()">
        </div>
    </div>
    <p id="close_window" style=" border: white 1px solid; z-index: 998; font-family:
     'Times New Roman'; position: absolute; cursor: pointer; visibility: hidden; top: 10px; right: 60px; border-radius: 30px; background-color: white; font-size: xx-large" onclick="login_close_windows()">&nbsp;X&nbsp;</p>
    <div  id="validationres" style="visibility:hidden; margin: auto; background-color: black; opacity: 0.9; position: fixed; top: -5px; text-align: center; width: 100%; height: 100%"></div>
</body>
</html>