<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/css.css">
    <script src="static/js/jquery-3.4.1.min.js" rel="script"></script>
    <script src="static/js/jquery.md5.js" rel="script"></script>
</head>
<body style="overflow-x: hidden;">
    <script type="application/javascript">
        var time_stru = new Date().getTime();
        var oHead = document.getElementsByTagName('HEAD').item(0);
        var oScript= document.createElement("script");
        oScript.type = "text/javascript";
        oScript.src="static/js/js.js?ver="+time_stru;
        oHead.appendChild( oScript);
    </script>
        <div class="input_div">
            <p style="color: red; margin-left: 33%; font-size: 14px; text-align: left">
            注：<br>域名最大支持二级域名，例：xxx.xxx.com 或 xxx.xxx.cn <br>
               支持泛域名，例：*.xxx.com 或 *.xxx.cn<br>
               此处新增站点不会记入数据库，则不会出现在修改列表中。<br>
                *不支持中文域名<br>
        </p>
        输入域名：<input class="input-xxlarge" alt="abcd.com" type="text">
        <input class="bottom" alt="提交" type="button" value="提  交" onclick="submit_apply()">
        <div class="content">

        </div><input id="dns_validation" style="visibility:hidden; float: right" type="button" alt="验证" value="验  证" onclick="new_site_dns_validation()">
        </div>
        <div class="validationres">

        </div>
        <div id="loading_1">

        </div>

</body>
</html>