<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/css.css">
</head>
<body style="overflow-x: hidden;">
        <script src="static/js/jquery-3.4.1.min.js"></script>
        <script src="static/js/js.js"></script>
        <div class="input_div">
        输入域名：<input class="input-xxlarge" alt="abcd.com" type="text">
        <input class="bottom" alt="提交" type="button" value="提  交" onclick="button()">
        <div class="content">

        </div>
        </div>

</body>
</html>