<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>acme-client_1.0 _login</title>
    <link rel="stylesheet" href="static/css/css.css">
</head>
<body class="login_body">
    <div class="login_body_content">
        <h1 class="login_h">acme-client_1.0</h1>
        <div class="login_div">
        <div class="login_content">用户名：<input id="user" type="text" alt="用户名"></div>
        <div class="login_content">密&nbsp; &nbsp;码：<input id="passwd" type="password" alt="密码"></div>
        <div class="login_content">
            <a href="#" class="froget_a" onclick="forget_password()">忘记密码</a>
            <input class="login_button" id="login" type="button" value="登  录" onclick="login()">
        </div>
    </div>
    </div>
</body>
</html>